.git
.github
**/node_modules
**/.next
**/out
**/dist
**/vendor
**/.env
**/.env.local
**/*.tsbuildinfo
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
mobile-app/build
mobile-app/.dart_tool
mobile-app/.gradle
deployment/backups
docker-data
