.local/
*.log
*.tsbuildinfo
.env.production

backend/.env
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
admin-dashboard/.env*.local
customer-website/.env*.local

node_modules/
.next/
build/
vendor/

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
mobile-app/android/local.properties
mobile-app/ios/Flutter/Generated.xcconfig
mobile-app/ios/Flutter/flutter_export_environment.sh
mobile-app/ios/Flutter/ephemeral/
